
.feed-wrapper{
  min-width: 50%;
}
.feed-wrapper h2 {
  padding: 1rem 1rem 1rem 3rem;
  font-family: var(--font-primary);
  font-size: 26px;

  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.feed__radionav{
  display: flex;
  width:90%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.loading{
  display: flex;
  flex-direction: column;
  gap: 10px
}

.feed__p{
  font-family: var(--font-secondary);
  padding: 8rem;
}