
.feed-wrapper h2 {
  padding: 3rem 0 0 3rem;
}
.feed__radionav{
  display: flex;
  width:90%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.feed {
  display: flex;
  flex-direction: column;
  background-color: blanchedalmond;
  max-width: 460px;
  border-radius: 40px;
  margin: 20px;
}

.feed__header {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 1rem;
}

.feed__header-profile {
  display: flex;
  height: 60px;
  padding: 0 0 0 20px;
}

.feed__header-profile img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}


.feed__header-profile_det {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px; 
    margin: 0; 
    padding:5px;
}
  
  .feed__header-profile_det h4,
  .feed__header-profile_det p {
    margin: 0; 
    line-height: 1.2; 
  }

.feed__header-content {
  padding: 0 0 0 20px;
}
.feed__header-content p{
    line-height: 1;
}

.feed__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 460px;
}

.feed__content img {
  width: 400px;
  height: 440px;
  border-radius: 15px;
}


.feed__footer{
    padding: 10px 1rem 0 1rem;
    display: flex;
    width: 88%;
    justify-content: space-between;
}