.feed {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  border-radius: 40px;
  min-height: 400px;
  margin: 10px 20px;
  justify-content: space-between;
}

.feed__header {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0 0 10px;
}

.feed__header-profile {
  display: flex;
  height: 60px;
  padding: 0 0 0 20px;
}

.feed__header-profile img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.feed__header-profile_det {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px 15px;
}

.feed__header-profile_det h4 {
  margin: 0;
  line-height: 1.5;
  font-family: var(--font-secondary);
}
.feed__header-profile_det p {
  margin: 0;
  line-height: 1.5;
  font-size: 14px;
  opacity: 0.4;
  font-family: var(--font-primary);
}
.feed__header-profile_det h4:hover,.feed__header-profile img:hover{
    cursor: pointer;
}


.feed__header-content {
  padding: 0 20px;
}

.feed__header-content p {
  line-height: 1;
  font-family: var(--font-primary);
  margin: 1rem 5px;
}

.feed__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.feed__content img {
  max-width: 85%;
  max-height: 80%;
  border-radius: 15px;
  margin: 10px;
  object-fit: cover;
  width: auto;
  height: auto;
}

.feed__content video {
  max-width: 85%;
  max-height: 80%;
  border-radius: 15px;
  margin: 10px;
  object-fit: contain;
  width: auto;
  height: auto;
}

.feed__content-img.multi-image,
.feed__content video.multi-image {
  max-width: 45%;
}

.feed__footer {
  padding: 10px 1rem 0 1rem;
  display: flex;
  width: 88%;
  justify-content: space-between;
  align-items: center;
}

.feed__footer-sharebtn {
  border-radius: 20px;
  font-size: large;
  font-weight: bold;
  font-family: var(--font-primary);
}
